<html>
    <head>

    </head>
    <body>
        <h1>Carga tu producto amigoo!!</h1>
        <form method="POST" action="/producto/crear" >
            <label for="id">Id:</label><br>
            <input name="id" type="text" id="id" placeholder="ej:2341"><br>
            <label for="name">Nombre:</label><br>
            <input type="text" name="nombre" id="name" placeholder="ej:Computadora"><br>
            <label for="precio">Precio:</label><br>
            <input type="text" name="precio" id="precio" placeholder="ej:60000"><br>
            <label for="marca">Marca:</label><br>
            <input type="text" name="marca" id="marca" placeholder="ej:nike"><br>
            <label for="Stock">Stock:</label><br>
            <input type="text" name="stock" id="Stock"><br>
            <label for="descripcion">Descripcion:</label><br>
            <textarea name="descripcion" id="descripcion" placeholder="ej:"></textarea><br>
            <br>
            <button type="submit">Guardar producto!</button>
        </form>
    </body>
</html>