<html>

    <body>

        <div class="info">
            <ul>
                <li>tomy</li>
                <li>guachin</li>
                <li>peluquero instax</li>
            </ul>
        </div>
        <p>Holaaa como va?</p>
    </body>

</html>